CRAWL4AI_TOKEN=__GENERATED__
CRAWL4AI_DATA_DIR=/data/web-access-gateway/data/crawl4ai
CRAWL4AI_MAX_CONCURRENCY=2
CRAWL4AI_MAX_PAGES_BEFORE_RECYCLE=2
PLAYWRIGHT_BROWSERS_PATH=/data/web-access-gateway/runtime/crawl4ai-browsers
EGRESS_PROXY=http://127.0.0.1:7895
HTTP_PROXY=http://127.0.0.1:7895
HTTPS_PROXY=http://127.0.0.1:7895
NO_PROXY=localhost,127.0.0.1
